<h1><%= t('.title') %></h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name),
             html: {method: :post, class: 'form-style'}) do |f| %>
    <%= devise_error_messages! %>
    <ul>
      <li>
        <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      </li>
      <li>
        <%= render "devise/shared/links" %>
      </li>
      <li>
        <%= f.submit t('.send') %>
      </li>
    </ul>
<% end %>
