<h1><%= t('.title') %></h1>

<table class="flat-table">
  <thead>
  <tr>
    <th><%= t('tickets.train_number') %></th>
    <th><%= t('tickets.departure') %></th>
    <th><%= t('tickets.arrival') %></th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'ticket', collection: @tickets, as: :ticket %>
  </tbody>
</table>

<%= link_to t('common.back'), root_path, class: 'link-bt' %>